.mn{
    margin-top: 40px;
    text-align: justify;
}


.p1 {
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 20px;
}

.p2 {
    font-family: "Roboto";
    font-weight: 400;
    padding: 0;
    opacity: .8;
}


.resize {
    width: 700px;
    height: auto;
}


@media (min-width: 320px) { 
    .resize{
        width: 290px;
}
}


@media (min-width: 760px) {
    .resize{
        width: 500px;
    }
}

