.mn{
    text-align: center;
    color:white;
    text-align: justify;
    width: 100%;
}


.p1 {
    font-size: 54px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: -10px;
}

.p2 {
    font-size: 16px;
    line-height: 29px;
    font-family: "Poppins";
    font-weight: 400;
    opacity: .8;
    margin-top: 15px;
    margin-bottom: 15px;
}

.p3{
    font-family: "Poppins";
    font-size: 27px;
    line-height: 32px;
    font-weight: 700;
}

.footer {
    opacity: 0.5;
    padding: 3rem 0 0;
    margin-top: 3rem;
    border-top: 1px solid white;
    
}

.p1-footer {
    font-size: 27px;
    font-family: 'Poppins';
    font-weight: 700;
    margin: auto;
}

.p2-footer {
    font-size: 16px;
    line-height: 29px;
    font-family: "Poppins";
    font-weight: 400;
}

.git {
    color: white;
}


.form {
    display: inline-block;
    padding: 0 6px;
}


#button {
    color: white;
    background-color: #070A11;
    border: #070A11;
    display: inline;
    cursor: pointer;
    margin-top: 20px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 1rem;
}






@media (min-width: 360px) { 
       
        .p1 {
            font-size: 36px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top: 10px;
        }


        .icons {
            margin: 10px;
            margin-top: 20px;
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
            grid-gap: 0.6rem;
            font-size: 0;
        }
    }
   