:root {
  --font: "Consolas" ;
  --color-bg: #070A11;
  --color-txt: #fff;
}


body {
  font-family: var(--font);
  color: var(--color-txt);
  background: var(--color-bg);
}


.App .Navbar {
  grid-template-columns: auto 1fr;
  font-size: 13px;
}

.App .Navbar ul {
    justify-content: flex-end;
    padding: 0.25rem 0.75rem;
}

.App .Navbar ul li {
    margin: 0 0.75rem;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
}

.App .Navbar ul li a {
  color: inherit;
  text-decoration: underline;
  padding: 0 0.25rem;
  position: relative;
}

@media (max-width: 1440px) {
  .App .Navbar {
      margin-left: auto;
      margin-right: auto;
  }
}
  @media (max-width: 425px) {
  .App {
    margin:auto;
    margin-left: -20px;
  }
}